{{! The big featured header }}
<header id="header">
    <nav class="header-nav" {{#if @blog.cover}}style="background-image:url({{@blog.cover}}){{/if}}">

      <div class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></div>

      <!--Change this to customize the navigation-->
      <div class="taglist-wrapper clearfix">
        <ul id="taglist" class="taglist">
            <li><a href="{{@blog.url}}">
            <i class="fa fa-home" aria-hidden="true"></i>
            Home</a></li>
            <li>
            <a href="/tag/beginner"><i class="fa fa-map-marker" aria-hidden="true"></i> 初学者</a></li>
            <li><a href="/tag/theming"><i class="fa fa-magic" aria-hidden="true"></i> 主题开发</a></li>
            <li><a href="/tag/plugining"><i class="fa fa-gears" aria-hidden="true"></i> 插件开发</a></li>
            <li><a target="_blank" href="https://v2mm.tech"><i class="fa fa-plane" aria-hidden="true"></i> V2MM</a></li>
        </ul>
      </div>
    </nav>

</header>
